/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* Var root */
:root {
  --white: #ffffff;
  --blue: #34c1c3;
  --grey: #0000001a;
  --pink: #ff5c87;
}


/* html */
html,body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  position: relative;
  justify-content: space-between;
}

/* Blauwe achtergrond */
.header-page1::after {
  content: '';
  position: absolute;
  height: 280px;
  width: 50%;
  background-color: var(--blue);
  top: 0;
  right: 0;
  z-index: -1;
}

/* nav */
ul {
  width: 100%;
  display: flex;
  padding: 0;
}

li {
  list-style: none;
  font-family: 'Sofia Pro', sans-serif;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  width: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  display: block;
  position: relative;
  text-decoration: none;
  color: black;
}

.navbar a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--pink);
  opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.navbar a:hover::after,
.navbar a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Responsive hamburger menu */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
  position: relative;
  margin-left: 2em;
}


@media only screen and (max-width: 1250px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6.5em;
    background-color: var(--white);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 3;
  }

  .nav-menu.active {
    left: 0;
  }
  
  .nav-item {
    margin: .7em 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

/* Bovenste tekst */
.top-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-bottom: 1.5px solid var(--grey);
  padding: 2px;
}

.top-text p {
  display: flex;
  font-family: 'Sofia Pro', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Icoontjes in de header */
.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 64px;
  width: 100%;
  padding: 15px;
  z-index: 70;
}

/* Logo */
.logo {
  display: block;
  width: auto;
  height: auto;
  text-align: center;
  flex-direction: row;
  height: 64px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.logo img {
  display: inline-block;
  height: 35px;
}

/* Zoek functie */
.header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  width: 95%;
  border: 1px solid var(--grey);
  border-radius: 40px;
  cursor: pointer;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header-search img {
  min-height: 30px;
  min-width: 30px;
  height: 30px;
  width: 30px;  
  margin-left: auto;
}


.cursor::after {
  content: '';
  display: flex;
  margin-left: 3px;
  background-color: black;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

h4.cursor::after {
  height: 20px;
  width: 5px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

/* Tekst in zoekbar */
.placeholder {
  transform-origin: 0 50%;
  transform: translateX(10px);
  line-height: 1;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Sofia Pro', sans-serif;
  color: #595959;
}


.placeholder.expand {
  animation: MovePlaceholder 220ms
  both linear;
}

.placeholder.return {
  animation: ReturnPlaceholder 220ms
  both linear;
}

@keyframes MovePlaceholder {
  0% {
    transform: translateX(10px)
  translateY(0) rotate(0)
  }
  60% {
    transform: translateX(0)
  translateY(-8px) rotate(-18deg)
  scale(0.92)
  }
  100% {
    transform: translateX(0)
  translateY(-30px) rotate(0deg)
  scale(0.75)
  }
}

@keyframes ReturnPlaceholder {
  0% {
    transform: translateX(0)
  translateY(-30px) scale(0.75)
  }
  100% {
    transform: translateX(10px)
  translateY(0)
  }
}

.placeholder p {
  text-align: left;
}

/* Profiel icon */
.profile-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1em;
}

.profile-svg img {
  height: 23px;
  width: 23px;
}

/* Hartje icon */
.wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 1em;
}

.wishlist img {
  height: 23px;
  width: 23px;
}

/* Winkelmandje icon */
.shopping-bag {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shopping-bag img {
  height: 23px;
  width: 23px;
}

/* Navigatie */
header nav ul {
  display: flex;
}

header nav li {
  flex-grow: 3;
}

/* Columns */
.columns {
  display: flex;
}

.columns > * {
  flex-basis: 50%;
  height: calc(100vh - 185px);
  overflow: auto;
}

/* Linkercolumn */
.columnleft {
  display: flex;
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
}

/* Grote van de tekst */
@media screen and (min-width: 601px) {
  section.columnleft {
    font-size:2em;
  }
}


@media screen and (max-width: 600px) {
  section.columnleft {
    font-size: 1em;
  }
}

/* Rechtercolumn */
.columnright {
  background-color: #34c1c3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grote van de tekst */
@media screen and (min-width: 601px) {
  section.columnright {
    font-size:2em;
  }
}

@media screen and (max-width: 600px) {
  section.columnright {
    font-size: 1em;
  }
}

/* h1 */
h1 { 
  display: block;
  font-family: "Druk Wide CY Web Bold", "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  position: relative;
  font-size: 1.2em;
  text-transform: uppercase;
  font-stretch: expanded;
  transform: scale(.5, 1.3);
  letter-spacing: 3px;
  font-style: italic;
}

/* Main */
main {
  position: relative;
  margin-bottom: .75em;
}

/* Plaatjes in de kolomen */
.columns img {
  display: flex;
  width: 408px;
  height: auto;
  background-position: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
} 


/* Artikelen */
article {
  display: block;
  position: relative;
  margin-bottom: .75em;
  max-width: 15em;
  width: 480px;
}

@media screen and (max-width: 920px) {
  article {
    max-width: 80%;
  }
}



/* H2 in de artikelen */
article h2 {
  margin-left: 8%;
  margin-right: 8%;
}

/* H3 in de artikelen */
article h3 {
  margin-left: 8%;
  margin-right: 10%;
}

/* h2 */
h2 {
  font-size: .7em;
  font-family: "Druk Wide CY Web Bold", "Trebuchet MS", Helvetica, sans-serif;
  text-transform: uppercase;

}

/* h3 */
h3 {
  font-family: 'Sofia Pro', sans-serif;
  font-size: .875em;
  font-weight: normal;
  font-weight: 400;
}

/* buttons */
.button-container {
  display: block;
  top: 33em;
}

.buttons {
  display: flex;
  position: relative;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--white);
  background: black;
  height: 2.75em;
  border: 1px solid black;
  outline: none;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  cursor: pointer;
  line-height: 1;
  padding: .4em 1em .6em;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  max-width: 100%;
} 



/* Tweede pagina */

/* Roze achtergrond */
.background::after {
  content: '';
  position: absolute;
  height: 480px;
  width: 100vw;
  background-color: var(--pink);
  top: 0;
  z-index: -1;
}

/* Kleine tekst in roze achtergrond */
.smaller-text {
  text-align: center;
  padding-top: 2em;
}

/* Grote tekst in de roze achtergrond */
.big-text {
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding-bottom: .4em;
}

/* Ronde plaatjes in de roze achtergrond */
.scroller {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  gap: 1em;
}

.scroller a {
  display: block;
  position: relative;
  text-decoration: none;
  color: black;
}

.scroller a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--white);
  opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.scroller a:hover::after,
.scroller a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Plaats van de ronde plaatjes */
@media screen and (min-width: 601px) {
  .scroller {
    justify-content: center;
  }
}

/* Div ronde plaatjes */
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1em; 
  margin-top: .75em 0 .75em 0;
}

/* Opmaak ronde plaatjes */
.items > img {
  border-radius: 50%;
  width:  69px;
  height: auto;
  max-width: 69px;
}

/* Tekst onder de ronde plaatjes */
.items > a {
  font-family: 'Sofia Pro', sans-serif;
  font-style: italic;
  margin-bottom: 1em;
}

/* H2 op de tweede pagina */
.bovenste_gedeelte h2 {
  font-size: 1em;
  font-family: "Druk Wide CY Web Bold", "Trebuchet MS", Helvetica, sans-serif;
  text-transform: uppercase;
  width: 100%;
}

/* H3 op de tweede pagina */
.bovenste_gedeelte h3 {
  font-family: 'Sofia Pro', sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  margin-left: 7%;
  margin-top: 0;
  text-align: center;
}

/* Grote foto */
.big_picture {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 85%;
  cursor: pointer;
}


/* Tekst onder de grote foto */
.detail .title_blog {
  text-align: center;
}

/* H2 in bovenste sectoe */
.section_artikelen h2 {
  font-family: "Druk Wide CY Web Bold", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
  font-stretch: expanded;
  letter-spacing: 3px;
  font-style: italic;
  margin-left: 1em;
  margin-bottom: 5em;
}

 /* Opmaak buttons */
.buttons_filter {
  position: relative;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--white);
  background: black;
  border: 1px solid black;
  outline: none;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  cursor: pointer;
  line-height: 1;
  padding: .4em 1em .6em;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  float: right;
}

/* Div artikelen */
.artikelen {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 2em;
  justify-content: center;
  flex-wrap: wrap;
}

/* H2 in de artikelen */
.artikelen h2 {
  display: flex;
  flex-direction: column;
  font-family: "Druk Wide CY Web Bold", "Trebuchet MS", Helvetica, sans-serif;
  font-size: .75em;
  font-stretch: expanded;
  letter-spacing: 3px;
  font-style: italic;
  margin: auto;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  padding: 2.5em 1em;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--pink);
}

/* Links in footer */
footer a {
  font-family: 'Sofia Pro', sans-serif;
  text-align: left;
  padding: 0 .6em;
  margin: .5em;
  display: block;
  position: relative;
  text-decoration: none;
  color: black;
}

footer a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--white);
  opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

footer a:hover::after,
footer a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

