/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --white: #ffffff;
  --blue: #34c1c3;
  --grey: #0000001a;
}

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  height: 185px;
  position: relative;
  justify-content: space-between;
}

header::after {
  content: '';
  position: absolute;
  height: 185px;
  width: 50%;
  background-color: var(--blue);
  top: 0;
  right: 0;
  z-index: -1;
}



.top-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-bottom: 1.5px solid var(--grey);
  padding: 2px;
}

.top-text p {
  display: flex;
  font-family: 'Sofia Pro', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 64px;
  width: 100%;
  padding: 15px;
  z-index: 70;
}

.logo {
  display: block;
  width: auto;
  height: auto;
  text-align: center;
  flex-direction: row;
  height: 64px;
  align-items: center;
}

.logo img {
  display: inline-block;
  height: 35px;
  margin-top: 1em;
}

.header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  width: 95%;
  border: 1px solid var(--grey);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 0 15px 0 15px;

}

.header-search img {
  min-height: 30px;
  min-width: 30px;
  height: 30px;
  width: 30px;

}

.placeholder {
  line-height: 1;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Sofia Pro', sans-serif;
  color: #595959;
}

.placeholder p {
  text-align: left;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu img{
  height: 23px;
  width: 23px;
  overflow: hidden;
}

.profile-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-svg img {
  height: 23px;
  width: 23px;
}

.wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wishlist img {
  height: 23px;
  width: 23px;
}

.shopping-bag {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shopping-bag img {
  height: 23px;
  width: 23px;
}




.columns {
  display: flex;
}

.columns > * {
  flex-basis: 50%;
  height: calc(100vh - 185px);
  overflow: auto;
}

.columnleft {
background-color: var(--white);
}

@media screen and (min-width: 601px) {
  section.columnleft {
    font-size:2em;
  }
}


@media screen and (max-width: 600px) {
  section.columnleft {
    font-size: 1em;
  }
}

.columnright {
  background-color: #34c1c3;
}

@media screen and (min-width: 601px) {
  section.columnright {
    font-size:2em;
  }
}

@media screen and (max-width: 600px) {
  section.columnright {
    font-size: 1em;
  }
}

h1 { 
  display: block;
  font-family: "Druk Wide CY Web Bold", "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  position: relative;
  font-size: 1.2em;
  text-transform: uppercase;
  font-stretch: expanded;
  transform: scale(.5, 1.3);
  letter-spacing: 3px;
  font-style: italic;
}

header nav ul {
  display: flex;
}

header nav li {
  flex-grow: 3;
}

article {
  display: block;
}

main {
  display: flex;
  position: relative;
  margin-bottom: .75em;
}

main img {
  display: flex;
  width: 100%;
  height: auto;
  background-position: 50%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  
} 

article {
  position: relative;
  margin-bottom: .75em;
}

h2 {
  font-size: .7em;
  font-family: "Druk Wide CY Web Bold", "Trebuchet MS", Helvetica, sans-serif;
  text-transform: uppercase;
  width: 100%;
  margin-left: 8%;
  margin-right: 8%;
}


h3 {
  font-family: 'Sofia Pro', sans-serif;
  font-size: .875em;
  font-weight: normal;
  font-weight: 400;
  margin-left: 8%;
  margin-right: 10%;
}


.button-container {
  display: block;
  top: 33em;
}

.buttons {
  display: flex;
  position: relative;
  font-family: 'Sofia Pro', sans-serif;
  color: var(--white);
  background: black;
  height: 2.75em;
  border: 1px solid black;
  outline: none;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  cursor: pointer;
  line-height: 1;
  padding: .4em 1em .6em;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  max-width: 100%;
} 
